n8n/workflows/scheduled-generation.json
{
  "name": "Scheduled Video Generation (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * *" }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Generate a trending topic for a viral YouTube Shorts video. Return just the topic as a short phrase.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Give me one trending topic for a 60-second educational short video that would go viral today. Just the topic, nothing else.\"\n    }\n  ],\n  \"temperature\": 0.9,\n  \"max_tokens\": 50\n}",
        "options": {}
      },
      "id": "generate-topic",
      "name": "Generate Trending Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/videos/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $json.choices[0].message.content }}\",\n  \"tone\": \"informative\",\n  \"duration_seconds\": 60,\n  \"auto_upload\": true,\n  \"upload_platforms\": [\"youtube\", \"instagram\"]\n}",
        "options": {}
      },
      "id": "trigger-pipeline",
      "name": "Trigger Video Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-log",
              "name": "log",
              "value": "=Video generation triggered for topic: {{ $('Generate Trending Topic').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Daily 9 AM Trigger": {
      "main": [[{ "node": "Generate Trending Topic", "type": "main", "index": 0 }]]
    },
    "Generate Trending Topic": {
      "main": [[{ "node": "Trigger Video Pipeline", "type": "main", "index": 0 }]]
    },
    "Trigger Video Pipeline": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "scheduled" }, { "name": "automation" }]
}
